@import "tailwindcss";

@theme inline {
    --breakpoint-md: 768px;
    --breakpoint-lg: 1440px;

    --font-roboto: var(--font-roboto);
    --font-montserrat: var(--font-montserrat);

    --color-background: #fafafa;
    --color-foreground: #000000;
    --color-white-opacity: rgba(255, 255, 255, 0.67);
    --color-accent: #3d8eda;
    --color-white: #ffffff;
    --color-neutral-0: #f4f4f4;
    --color-neutral-10: #ebebeb;
    --color-neutral-20: #dedede;
    --color-neutral-30: #d2d1d2;
    --color-neutral-40: #c8c7c7;
    --color-neutral-50: #c4c4c4;
    --color-neutral-60: #929292;
    --color-neutral-70: #636264;
    --color-neutral-80: #5f5f5f;
    --color-neutral-90: #333437;
    --shadow-header:
        0 4px 24px 0 rgba(0, 0, 0, 0.12),
        inset 0 12px 24px 0 rgba(0, 0, 0, 0.12);
}

body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-roboto), sans-serif;
    font-size: 14px;
    line-height: 1.01;
}

button {
    cursor: pointer;
}

@utility box {
    padding-inline: 16px;

    @variant md {
        padding-inline: 56px;
    }

    @variant lg {
        padding-inline: 300px;
        max-width: 1800px;
        margin: 0 auto;
    }
}

@utility logo-text {
    @apply text-[16px] lg:text-[24px];
}

@utility normal-text {
    @apply text-[14px] lg:text-[16px];
}

@utility small-text {
    @apply text-[12px] lg:text-[14px];
}

@utility smallest-text {
    @apply text-[10px] lg:text-[12px];
}
