@import "tailwindcss";

@theme inline {
    --breakpoint-md: 768px;
    --breakpoint-lg: 1440px;

    --font-roboto: var(--font-roboto);
    --font-montserrat: var(--font-montserrat);

    --color-background: #fafafa;
    --color-foreground: #000000;
    --color-white-opacity: rgba(255, 255, 255, 0.67);
    --color-accent: #3d8eda;
    --color-white: #ffffff;
    --color-neutral-0: #f4f4f4;
    --color-neutral-10: #ebebeb;
    --color-neutral-20: #dedede;
    --color-neutral-30: #d2d1d2;
    --color-neutral-40: #c8c7c7;
    --color-neutral-50: #c4c4c4;
    --color-neutral-60: #929292;
    --color-neutral-70: #636264;
    --color-neutral-80: #5f5f5f;
    --color-neutral-90: #333437;
    --shadow-header:
        0 4px 24px 0 rgba(0, 0, 0, 0.12),
        inset 0 12px 24px 0 rgba(0, 0, 0, 0.12);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-roboto), sans-serif;
    font-size: 14px;
    line-height: 1.01;
}

button {
    cursor: pointer;
}

@utility box {
    padding-inline: 16px;

    @variant md {
        padding-inline: 56px;
    }

    @variant lg {
        padding-inline: 300px;
        max-width: 1800px;
        margin: 0 auto;
    }
}

@utility custom-popper {
    & .react-datepicker {
        font-family: var(--font-roboto) !important;

        border: 1px solid var(--color-neutral-30) !important;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    & .react-datepicker__header {
        background-color: white !important;
        border-bottom: none !important;
    }

    & .react-datepicker__triangle {
        fill: white !important;
        left: 10px !important;
        stroke: var(--color-neutral-30) !important;
    }

    & .custom-dayweek {
        font-weight: 700;
        font-size: 13px !important;
        line-height: 1.5rem !important;
        width: 23px !important;
        height: 23px !important;
        margin: 1px !important;
    }

    & .react-datepicker__day {
        font-size: 13px !important;
        line-height: 1.5rem !important;
        color: var(--color-neutral-90) !important;
        width: 23px !important;
        height: 23px !important;
        margin: 1px !important;
    }

    & .react-datepicker__day--keyboard-selected {
        background-color: transparent !important;
        color: var(--color-neutral-90) !important;
    }

    & .sunday-highlight {
        background-color: var(--color-neutral-0) !important;
    }

    & .react-datepicker__day--outside-month {
        background-color: transparent !important;
        color: var(--color-neutral-60) !important;
    }

    & .react-datepicker__day--selected {
        background-color: var(--color-accent) !important;
        color: var(--color-white) !important;
    }

    & .react-datepicker__day--disabled {
        color: var(--color-neutral-60) !important;
    }
}
