.custom-popper {
    & .react-datepicker {
        border: 1px solid var(--color-neutral-30);
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    }
    & .react-datepicker__header {
        background-color: white;
        border-bottom: none;
    }

    & .react-datepicker__triangle {
        fill: white;
        left: 10px;
        stroke: var(--color-neutral-30);
    }

    & .custom-dayweek {
        font-weight: 700;
        font-size: 13px;
        line-height: 1.5rem;
        width: 23px;
        height: 23px;
        margin: 1px;
    }

    & .react-datepicker__day {
        font-size: 13px;
        line-height: 1.5rem;
        color: var(--color-neutral-90);
        width: 23px;
        height: 23px;
        margin: 1px;
    }

    & .react-datepicker__day--keyboard-selected {
        background-color: transparent;
        color: var(--color-neutral-90);
    }

    & .sunday-highlight {
        background-color: var(--color-neutral-0);
    }

    & .react-datepicker__day--outside-month {
        background-color: transparent;
        color: var(--color-neutral-60);
    }

    & .react-datepicker__day--selected {
        background-color: var(--color-accent);
        color: var(--color-white);
    }

    & .react-datepicker__day--disabled {
        color: var(--color-neutral-60);
    }
}
